<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <script src="~/js/jquery-3.4.1.min.js"></script>
    @*<script src="~/js/jquery-3.4.1.slim.min.js"></script>*@
</head>
<body>
    <div>
        @RenderBody()
    </div>
    
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
